$main-font-family: "Public Sans", Arial, sans-serif;
$main-font-family-reg: "Public Sans Reg", Helvetica, sans-serif;
$main-font-size: 1.6rem;
$main-font-height: 1.62;

$h1-font-size: 5.6rem;
$h2-font-size: 4rem;
$h3-font-size: 2.4rem;

$h1-font-height: 1.14;
$h2-font-height: 1.6;
$h3-font-height: 1.17;

$primary-color-gr: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
$primary-color-bg: #30c88f;
$secondary-color-dark-green: #2d314d;
$secondary-color-light-gray: #9597a5;
$secondary-color-white: #ffffff;
$secondary-color-white-bg: #fafafa;
