.footer {
  background-color: $secondary-color-dark-green;
  padding: 4.8rem 0;

  .container {
    height: 95px;
    display: flex;
  }
}

.nav-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 131px;

  .site-logo__img {
    width: 139px;
    height: 20px;
  }

  .brand-list {
    display: flex;
    gap: 1.33rem;
  }

  svg {
    path {
      transition: color 0.3s ease-in-out;
      fill: $secondary-color-white;

      &:hover {
        fill: $primary-color-bg;
      }
    }
  }
}

.nav-2 {
  display: flex;
  gap: 3rem;
  margin-right: auto;

  ul {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      @include font-style(
        1.5rem,
        1.73,
        -0.23px,
        $secondary-color-white,
        $main-font-family-reg,
        400
      );

      &:hover {
        color: $primary-color-bg;
      }
      &:active {
        opacity: 0.8;
      }
    }
  }
}

.nav-3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  p {
    @include font-style(
      1.5rem,
      1.73,
      -0.23px,
      $secondary-color-white,
      $main-font-family-reg,
      400
    );
    opacity: 0.5;
  }
}
