.main {
  flex-grow: 1;
  background-image: url("../pictures/png/hero-bg-desktop.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: $secondary-color-white-bg;
}

.hero {
  padding: 17rem 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 447px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    margin-bottom: 2.4rem;
  }

  p {
    @include font-style(
      1.8rem,
      1.56,
      -0.28px,
      $secondary-color-light-gray,
      $main-font-family,
      400
    );
    margin-bottom: 3.6rem;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  .mobile-img {
    display: none;
  }
}

.why {
  background-color: #f4f5f7;
  padding: 9.6rem 0 6.4rem 0;

  &__info {
    width: 635px;
    margin-bottom: 72px;

    h2 {
      margin-bottom: 16px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 0.75fr);
    gap: 3.2rem 3rem;

    li {
      width: 255px;
      margin: 0 auto;
    }

    .img-wrapper {
      width: 72px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-color-gr;
      border-radius: 50%;
      margin-bottom: 4rem;
    }

    h3 {
      font-size: 2.4rem;
      margin-bottom: 2.6rem;
    }
  }
}

.article {
  padding: 8rem 0;

  h2 {
    margin-bottom: 4rem;
    color: $secondary-color-dark-green;
  }

  ul {
    display: flex;
    gap: 3rem;

    li {
      max-width: 255px;
      background-color: $secondary-color-white;
      border-radius: 5px;
      padding: {
        top: 0;
        left: 24px;
        right: 24px;
      }
    }

    img {
      width: 255px;
      height: 200px;
      border-radius: 5px 5px 0 0;
      margin-bottom: 25px;
    }

    h4 {
      font-size: 1rem;
      line-height: 1.8;
      letter-spacing: -0.156;
      margin-bottom: 8px;
    }

    a {
      @include font-style(
        1.6rem,
        1.25,
        -0.29px,
        $secondary-color-dark-green,
        $main-font-family,
        100
      );
      margin-bottom: 8px;
      &:hover {
        color: #30c88f;
      }
      &:active {
        opacity: 0.8;
      }
    }

    p {
      font-size: 1.3rem;
    }
  }
}
